header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

nav {margin-right: 20px;}

header nav a {margin: 15px;}

#headername {
    color: white;
} 

.bannerimg {background-image: url("./website-background.jpeg");}

.module-1 {
    text-indent: 30%;
}

.prework {
    text-indent: 30%;
}

.project-3 {
    text-indent: 60%;
}

.project-4 {
    text-indent: 30%;
}

.project-5 {
    text-indent: 60%;
}