header {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

nav {margin-right: 20px;}

header nav a {margin: 15px;}

#headername {
    color: white;
} 

.bannerimg {background-image: url("./website-background.jpeg");}

